apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "supertokens.fullname" . }}
  labels:
    {{- include "supertokens.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "supertokens.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- if .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "supertokens.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "supertokens.serviceAccountName" . }}
      {{- if .Values.podSecurityContext }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- end }}
      initContainers:
        - name: postgres-init
          image: "{{ .Values.database.postgresql.initContainer.image.repository }}:{{ .Values.database.postgresql.initContainer.image.tag | default "latest" }}"
          command: 
          - 'sh'
          - '-c'
          - "until psql postgresql://postgres:${POSTGRES_PASSWORD}@{{ .Release.Namespace }}-{{ .Values.postgresql.host }}.{{ .Release.Namespace }}.svc.cluster.local:5432; 
                                do echo trying to connect to postgres - waiting 5 sec for it to load up; sleep 5;done;echo succes connecting to postgres; 
                                psql postgresql://postgres:${POSTGRES_PASSWORD}@{{ .Release.Namespace }}-{{ .Values.postgresql.host }}.{{ .Release.Namespace }}.svc.cluster.local:5432 -c \"CREATE ROLE ${SUPERTOKENS_USER} WITH LOGIN ENCRYPTED PASSWORD '${SUPERTOKENS_PASSWORD}'\";
                                psql postgresql://postgres:${POSTGRES_PASSWORD}@{{ .Release.Namespace }}-{{ .Values.postgresql.host }}.{{ .Release.Namespace }}.svc.cluster.local:5432 -c \"CREATE DATABASE {{ .Values.database.dbName }} WITH OWNER = ${SUPERTOKENS_USER} ENCODING = 'UTF8' CONNECTION LIMIT = -1 \";"
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: supertokens-postgresql
                  key: postgresql-password
                  optional: false 
            - name: SUPERTOKENS_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "supertokens.fullname" . }}-db-creds
                  key: dbUsername
                  optional: false
            - name: SUPERTOKENS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "supertokens.fullname" . }}-db-creds
                  key: dbPassword
                  optional: false       
      containers:
        - name: {{ .Chart.Name }}
          {{- if .Values.securityContext }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          # {{ else }} 
          # securityContext:
          #   readOnlyRootFilesystem: true
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: "POSTGRESQL_CONNECTION_URI"
              value: "postgresql://${SUPERTOKENS_USER}:${SUPERTOKENS_PASSWORD}@{{ .Release.Namespace }}-{{ .Values.postgresql.host }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.postgresql.port }}/{{ .Values.database.dbName }}"
            - name: "SUPERTOKENS_PORT"
              value: {{ quote .Values.service.port }}
            - name: "POSTGRESQL_CONNECTION_POOL_SIZE"
              value: {{ quote .Values.postgresql.connectionPoolSize }}
            - name: "ACCESS_TOKEN_VALIDITY"
              value: {{ quote .Values.accessTokenValidity }}
            - name: "ACCESS_TOKEN_BLACKLISTING"
              value: {{ quote .Values.accessTokenBlacklisting }}
            - name: "ACCESS_TOKEN_SIGNING_KEY_DYNAMIC"
              value: {{ quote .Values.accessTokenSigningKeyDynamic }}
            - name: "ACCESS_TOKEN_SIGNING_KEY_UPDATE_INTERVAL"
              value: {{ quote .Values.accessTokenSigningKeyUpdateInterval }}
            - name: "REFRESH_TOKEN_VALIDITY"
              value: {{ quote .Values.refreshTokenValidity }}
            - name: "PASSWORD_RESET_TOKEN_LIFETIME"
              value: {{ quote .Values.passwordResetTokenLifetime }}
            - name: "EMAIL_VERIFICATION_TOKEN_LIFETIME"
              value: {{ quote .Values.emailVerificationTokenLifetime }}
            - name: "PASSWORDLESS_MAX_CODE_INPUT_ATTEMPTS"
              value: {{ quote .Values.passwordlessMaxCodeInputAttempts }}
            - name: "PASSWORDLESS_CODE_LIFETIME"
              value: {{ quote .Values.passwordlessCodeLifetime }}
            - name: "BASE_PATH"
              value: {{ quote .Values.basePath }}
            - name: "DISABLE_TELEMETRY"
              value: {{ quote .Values.disableTelemetry }}
            - name: "MAX_SERVER_POOL_SIZE"
              value: {{ quote .Values.maxServerPoolSize }}
            {{- if .Values.apiKeys.enabled }}
            - name: "API_KEYS"
              value: "{{ join "," .Values.apiKeys.keys }}"
            {{- end }}
            - name: SUPERTOKENS_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "supertokens.fullname" . }}-db-creds
                  key: dbUsername
                  optional: false
            - name: SUPERTOKENS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "supertokens.fullname" . }}-db-creds
                  key: dbPassword
                  optional: false
          ports:
            - name: http
              containerPort: 3567
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /hello
              port: http
          readinessProbe:
            httpGet:
              path: /hello
              port: http
          {{ if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end -}}
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end -}}
      {{- if .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end -}}
      {{- if .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end -}}